<header class="top-header">
    <div class="header-inner">
        <div class="logo-section">
            <div class="logo-icon">
                <img alt="FleetFlow logo" src="assets/logo.png" />
            </div>
            <h1 class="logo-title">Fleet Flow</h1>
        </div>
        <div class="user-actions">
            <button class="action-btn badge-btn">
                <span class="material-symbols-outlined">notifications</span>
                <span class="notification-dot"></span>
            </button>
            <button class="action-btn">
                <span class="material-symbols-outlined">settings</span>
            </button>
            <div class="divider"></div>
            <div class="user-profile">
                <div class="user-text hidden-mobile">
                    <p class="name">Alex Rivera</p>
                    <p class="role">FLEET MANAGER</p>
                </div>
                <div class="user-avatar">
                    <img alt="User profile avatar"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuBPiiQgrhfkvS7cSG7BN6q_UmQUrY00GeYVKUNT85SzLityrG0d-IIgybXIJrfHvRsDHz6VFdxmXwTb14JEJAlOprAJ2N-m-6xIn8KfWfMSaDsCLF4dFqlmtpFPo6KkCBWJKM8jB3016kA-7TFrEqoQLBmlIoXSacS0hIGFD9BlaRrn34EXdeEWPTFYbvplyZtPU4Q0q-zI2Bn4JJzF89t8VuMtOl0gf_Vcis6SkuOhqsuWlAjaxL5s9bkdb19qON0Z0kZt69Myy2lT" />
                </div>
            </div>
        </div>
    </div>
</header>